.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

/* when using in file, the className must be in {}'s
- import styles from '@/ ...'
- <div className={styles.shape} /> 

 */